.search-input {
    padding: 10px;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
  }
  
  .search-button {
    padding: 10px 20px;
    background-color: #147a96;
    color: #fff;
    border: none;
    transition: background-color 0.3s ease-in-out;
  }
  
  .search-button:hover {
    background-color: #42a5f5;
  }
  
  .search-input:focus {
    outline: none;
    border-color: #61dafb;
    box-shadow: 0 0 0 2px #61dafb;
  }
  